<a href="https://colab.research.google.com/github/Manisha2297/RestroRecommender/blob/main/New_viz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
#mount your own drive to avoid downloading the data multiple time 

from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
df_business = pd.read_csv('/content/gdrive/MyDrive/YelpDataset/CsvFiles/yelp_academic_dataset_business.csv')

In [4]:
df_business.head(2)

   Unnamed: 0                    address  ... stars state
0           0            10913 Bailey Rd  ...   3.5    NC
1           1  8880 E Via Linda, Ste 107  ...   5.0    AZ

[2 rows x 15 columns]

In [ ]:
df_business.drop('Unnamed: 0',axis=1,inplace = True)
df_business.categories = df_business.categories.fillna('')

In [ ]:
df_open = df_business[df_business.is_open ==1]


Categories = {}

for x in df_open.categories:
   
   all_categories = x.split(',')
   for cat in all_categories:
     if cat not in Categories:
       Categories[cat]=1
     else:
       Categories[cat] +=1

All_categories = list(Categories.keys())    
Cat_list = [[x, Categories[x]] for x in All_categories]

# print(sorted(Cat_list, key = lambda x: x[1], reverse = True))

Cat_list = sorted(Cat_list, key = lambda x: x[1], reverse = True)   

top_50 = Cat_list[:50]

plt.figure(figsize= (20,10))
plt.bar(range(len(top_50)), [x[1] for x in top_50],align = 'center',color ='bkmcgr' )
plt.xticks(range(len(top_50)), [x[0] for x in top_50], rotation = 'vertical')
plt.show();