<a href="https://colab.research.google.com/github/Manisha2297/RestroRecommender/blob/main/NLTKmodel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
import nltk
from nltk.corpus import stopwords 
from nltk.tokenize import WordPunctTokenizer
import string

In [6]:
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [7]:
#mount your own drive to avoid downloading the data multiple time 

from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [8]:
df_review = pd.read_csv('/content/gdrive/MyDrive/YelpDataset/CsvFiles/yelp_academic_dataset_review.csv')
df_review.drop('Unnamed: 0', axis=1, inplace=True)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
df_review.head()

              business_id cool  ... useful                 user_id
0  -MhfebM0QIsKt87iDN-FNw    0  ...    5.0  OwjRMXRC0KyPrIlcjaXeFQ
1  lbrU8StCq3yDfr-QMnGrmQ    0  ...    1.0  nIJD_7ZXHq-FX8byPMOkMQ
2  HQl28KMwrEKHqhFrrDqVNQ    0  ...    1.0  V34qejxNsCbcgD8C0HVk-Q
3  5JxlZaqCnk1MnbgRirs40Q    0  ...    0.0  ofKDkJKXSKZXu5xJNGiiBQ
4  IS4cv902ykd8wj1TR0N3-A    0  ...    0.0  UgMW8bLE0QMJDCkQ1Ax5Mg

[5 rows x 9 columns]

In [10]:
#Select only stars and text
yelp_data = df_review[['business_id', 'user_id', 'stars', 'text']]

In [11]:
stop = []
for word in stopwords.words('english'):
    s = [char for char in word if char not in string.punctuation]
    stop.append(''.join(s))

In [12]:
yelp_data['text'].fillna("", inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:4536: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [13]:
def text_process(text):
    """
    Takes in a string of text, then performs the following:
    1. Remove all punctuation
    2. Remove all stopwords
    3. Returns a list of the cleaned text
    """
    # Check characters to see if they have any punctuation
    nopunc = [char for char in text if char not in string.punctuation]
    # Join the characters again to form the string.
    nopunc = ''.join(nopunc)
    
    # Now just remove any stopwords
    return " ".join([word for word in nopunc.split() if word.lower() not in stop])

In [14]:
processed_text_df = pd.DataFrame()

In [15]:
size = 0
for i in range(0, 1000000, 10000):
  processed_text_df = pd.concat([processed_text_df, yelp_data['text'][0:i].apply(text_process)])
  size+=10000

  if len(processed_text_df) >= size:
    processed_text_df.to_pickle('/content/gdrive/MyDrive/YelpDataset/processed_text_df')
    del processed_text_df
    processed_text_df = pd.read_pickle('/content/gdrive/MyDrive/YelpDataset/processed_text_df')
  
  else:
    print(size)
    break

In [16]:
processed_text_df

                                                      0
0     someone worked many museums eager visit galler...
1     actually horrified place still business 3 year...
2     love Deagans really atmosphere cozy festive sh...
3     Dismal lukewarm defrostedtasting TexMex glop M...
4     Oh happy day finally Canes near casa Yes other...
...                                                 ...
9995  came get pedicure Worst experience ever pedicu...
9996  Excellent service excellent food ate breakfast...
9997  line one best massages ever received searching...
9998  Virginia vet 6 years incredible love comes car...
9999  599 lunch special proves awesome first samplin...

[10000 rows x 1 columns]

In [ ]:
#yelp_data['text'] = yelp_data['text'].apply(text_process)

In [ ]:
userid_df = yelp_data[['user_id','text']]
business_df = yelp_data[['business_id', 'text']]

In [ ]:
yelp_data['text']

In [ ]:
#userid vectorizer
userid_vectorizer = TfidfVectorizer(tokenizer = WordPunctTokenizer().tokenize, max_features=5000)
userid_vectors = userid_vectorizer.fit_transform(userid_df['text'])

In [ ]:
#Business id vectorizer
businessid_vectorizer = TfidfVectorizer(tokenizer = WordPunctTokenizer().tokenize, max_features=5000)
businessid_vectors = businessid_vectorizer.fit_transform(business_df['text'])

In [ ]:
userid_rating_matrix = pd.pivot_table(yelp_data, values='stars', index=['user_id'], columns=['business_id'])

In [ ]:
def matrix_factorization(R, P, Q, steps=25, gamma=0.001,lamda=0.02):
    for step in range(steps):
        for i in R.index:
            for j in R.columns:
                if R.loc[i,j]>0:
                    eij=R.loc[i,j]-np.dot(P.loc[i],Q.loc[j])
                    P.loc[i]=P.loc[i]+gamma*(eij*Q.loc[j]-lamda*P.loc[i])
                    Q.loc[j]=Q.loc[j]+gamma*(eij*P.loc[i]-lamda*Q.loc[j])
        e=0
        for i in R.index:
            for j in R.columns:
                if R.loc[i,j]>0:
                    e= e + pow(R.loc[i,j]-np.dot(P.loc[i],Q.loc[j]),2)+lamda*(pow(np.linalg.norm(P.loc[i]),2)+pow(np.linalg.norm(Q.loc[j]),2))
        if e<0.001:
            break
        
    return P,Q

In [ ]:
P, Q = matrix_factorization(userid_rating_matrix, P, Q, steps=25, gamma=0.001,lamda=0.02)

In [ ]:
P = pd.DataFrame(userid_vectors.toarray(), index=userid_df.index, columns=userid_vectorizer.get_feature_names())
Q = pd.DataFrame(businessid_vectors.toarray(), index=business_df.index, columns=businessid_vectorizer.get_feature_names())

In [ ]:
yelp_data.to_pickle('/content/gdrive/MyDrive/Yelp Dataset/yelp_review_df')
del yelp_data

In [ ]:
#Loading in the dataframe
yelp_data = pd.read_pickle('/content/gdrive/MyDrive/Yelp Dataset/yelp_review_df')
yelp_data.head()