<a href="https://colab.research.google.com/github/Manisha2297/RestroRecommender/blob/main/NLTKmodel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
import nltk
from nltk.corpus import stopwords 
from nltk.tokenize import WordPunctTokenizer
import string
from scipy import sparse

In [21]:
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [22]:
#mount your own drive to avoid downloading the data multiple time 

from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [50]:
df_review = pd.read_csv('/content/gdrive/MyDrive/YelpDataset/CsvFiles/review_filtered.csv')
df_review.drop('Unnamed: 0', axis=1, inplace=True)

In [ ]:
# df_review = pd.read_csv('/content/gdrive/MyDrive/YelpDataset/CsvFiles/yelp_academic_dataset_review.csv')
# df_review.drop('Unnamed: 0', axis=1, inplace=True)

In [31]:
restaurant_df = pd.read_pickle('/content/gdrive/MyDrive/YelpDataset/PickleFiles/restuarant_df')

In [46]:
restaurant_df.head()

                            address  ... state
0                    404 E Green St  ...    IL
1                 2831 Parmenter St  ...    WI
2                               NaN  ...    NC
3  15480 Bayview Avenue, unit D0110  ...    ON
4                   300 John Street  ...    ON

[5 rows x 14 columns]

In [47]:
restaurant_df[restaurant_df['state']=='ON']['business_id']

3        eBEfgOPG7pvFhb2wcG9I7w
4        lu7vtrp_bE9PnxWfA8g4Pg
5        9sRGfSVEfLhN_km60YruTA
15       0QjROMVW9ACKjhSEfHqNCQ
20       GtQPbazps0jt7_cJghfmsA
                  ...
56917    eUi3O-8Gqh_nJ_ZhO-25gQ
56921    yFQCdWr_k1pTObzHPGis9Q
56928    GAgEoHcf4PSuZRS5Zd3ltA
56930    BtTCTHwoIfr3fBQjaOkpIw
56932    n2BKYb8aw4AhRKLkdUjQRg
Name: business_id, Length: 14069, dtype: object

In [48]:
business_id_list = list(restaurant_df[restaurant_df['state']=='ON']['business_id'].values)

In [51]:
# df_review_filtered = df_review[df_review['business_id'].isin(business_id_list)]

In [9]:
# pd.DataFrame(df_review_filtered.user_id.unique(), columns=['user_id']).to_pickle('/content/gdrive/MyDrive/YelpDataset/PickleFiles/unique_users_df')

In [52]:
# df_review_filtered.to_csv('/content/gdrive/MyDrive/YelpDataset/CsvFiles/review_filtered_ON.csv')

In [36]:
df_review.shape

(4607291, 9)

In [53]:
df_review_filtered.shape

(598136, 9)

In [54]:
df_review_filtered.head()

               business_id  cool  ... useful                 user_id
5   l-nL4BmhzpZjcavooO48PQ     1  ...    2.0  HJECayULRM-6xh2GCCvLiA
12  qUWqjjjfpB2-4P3He5rsKw     0  ...    0.0  TZQSUDDcA4ek5gBd6BzcjA
25  YJ2Y_asLIlbo-uijVugLow     2  ...    0.0  Arf9ddxVvO3PsmdZlPBDyA
26  9Eghhu_LzEJgDKNgisf3rg     0  ...    0.0  iFEM16O5BeKvf_AHs6NzUQ
32  nIIuxIn5RU0j-XkDWh3hlA     0  ...    0.0  AdMCAKmNDIaubYPxnjTq1g

[5 rows x 9 columns]

In [58]:
#Select only stars and text
yelp_data = df_review[['business_id', 'user_id', 'stars', 'text']]

In [59]:
stop = []
for word in stopwords.words('english'):
    s = [char for char in word if char not in string.punctuation]
    stop.append(''.join(s))

In [60]:
yelp_data['text'].fillna("", inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:4536: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [ ]:
def text_process(text):
    """
    Takes in a string of text, then performs the following:
    1. Remove all punctuation
    2. Remove all stopwords
    3. Returns a list of the cleaned text
    """
    # Check characters to see if they have any punctuation
    nopunc = [char for char in text if char not in string.punctuation]
    # Join the characters again to form the string.
    nopunc = ''.join(nopunc)
    
    # Now just remove any stopwords
    return " ".join([word for word in nopunc.split() if word.lower() not in stop])

In [ ]:
# size = 0
# processed_text_df = pd.DataFrame()
# for i in range(2000000, len(yelp_data), 10000):
#   processed_text_df = pd.concat([processed_text_df, yelp_data['text'][i:i+10000].apply(text_process)])
#   size+=10000

#   if len(processed_text_df) >= size:
#     if len(processed_text_df)%100000==0:
#       print(len(processed_text_df))
#     processed_text_df.to_pickle('/content/gdrive/MyDrive/YelpDataset/PickleFiles/processed_text_df_2')
#     del processed_text_df
#     processed_text_df = pd.read_pickle('/content/gdrive/MyDrive/YelpDataset/PickleFiles/processed_text_df_2')
  
#   else:
#     print(size)
#     break

In [ ]:
len(yelp_data)

4607291

In [ ]:
# processed_text_df_1 = pd.read_pickle('/content/gdrive/MyDrive/YelpDataset/PickleFiles/processed_text_df_1')

In [ ]:
# processed_text_df_final = pd.concat([processed_text_df_1, processed_text_df])

In [ ]:
# processed_text_df_final.to_pickle('/content/gdrive/MyDrive/YelpDataset/PickleFiles/processed_text_df')

In [ ]:
processed_text_df_final = pd.read_pickle('/content/gdrive/MyDrive/YelpDataset/PickleFiles/processed_text_df')

In [41]:
yelp_data['text'] = processed_text_df_final

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
yelp_data = yelp_data[yelp_data['business_id'].isin(business_id_list)]

In [ ]:
yelp_data.to_pickle('/content/gdrive/MyDrive/YelpDataset/PickleFiles/yelp_data_df_ON')

In [42]:
# del processed_text_df_1
del df_review

In [43]:
userid_df = yelp_data[['user_id','text']]
business_df = yelp_data[['business_id', 'text']]

In [ ]:
# #userid vectorizer
# userid_vectorizer = TfidfVectorizer(tokenizer = WordPunctTokenizer().tokenize, max_features=5000)
# userid_vectors = userid_vectorizer.fit_transform(userid_df['text'])

In [ ]:
# sparse.save_npz("/content/gdrive/MyDrive/YelpDataset/PickleFiles/userid_vectors.npz", userid_vectors)

In [ ]:
userid_vectors = sparse.load_npz("/content/gdrive/MyDrive/YelpDataset/PickleFiles/userid_vectors.npz")

In [ ]:
# #Business id vectorizer
# businessid_vectorizer = TfidfVectorizer(tokenizer = WordPunctTokenizer().tokenize, max_features=5000)
# businessid_vectors = businessid_vectorizer.fit_transform(business_df['text'])

In [ ]:
# sparse.save_npz("/content/gdrive/MyDrive/YelpDataset/PickleFiles/businessid_vectors.npz", businessid_vectors)

In [ ]:
businessid_vectors = sparse.load_npz("/content/gdrive/MyDrive/YelpDataset/PickleFiles/businessid_vectors.npz")

In [ ]:
userid_rating_matrix = pd.pivot_table(yelp_data, values='stars', index=['user_id'], columns=['business_id'])

ValueError: ignored

In [ ]:
def matrix_factorization(R, P, Q, steps=25, gamma=0.001,lamda=0.02):
    for step in range(steps):
        for i in R.index:
            for j in R.columns:
                if R.loc[i,j]>0:
                    eij=R.loc[i,j]-np.dot(P.loc[i],Q.loc[j])
                    P.loc[i]=P.loc[i]+gamma*(eij*Q.loc[j]-lamda*P.loc[i])
                    Q.loc[j]=Q.loc[j]+gamma*(eij*P.loc[i]-lamda*Q.loc[j])
        e=0
        for i in R.index:
            for j in R.columns:
                if R.loc[i,j]>0:
                    e= e + pow(R.loc[i,j]-np.dot(P.loc[i],Q.loc[j]),2)+lamda*(pow(np.linalg.norm(P.loc[i]),2)+pow(np.linalg.norm(Q.loc[j]),2))
        if e<0.001:
            break
        
    return P,Q

In [ ]:
P, Q = matrix_factorization(userid_rating_matrix, P, Q, steps=25, gamma=0.001,lamda=0.02)

In [ ]:
P = pd.DataFrame(userid_vectors.toarray(), index=userid_df.index, columns=userid_vectorizer.get_feature_names())
Q = pd.DataFrame(businessid_vectors.toarray(), index=business_df.index, columns=businessid_vectorizer.get_feature_names())