<a href="https://colab.research.google.com/github/Manisha2297/RestroRecommender/blob/main/baseline_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
!pip install surprise

Requirement already satisfied: surprise in /usr/local/lib/python3.7/dist-packages (0.1)
Requirement already satisfied: scikit-surprise in /usr/local/lib/python3.7/dist-packages (from surprise) (1.1.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.15.0)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.4.1)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.19.5)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.0.1)

In [17]:
import pandas as pd
import numpy as np
from surprise import Dataset, Reader
from surprise import SVD
from surprise import accuracy
from surprise.model_selection import cross_validate, train_test_split
from surprise.prediction_algorithms import Prediction
import random
from surprise.model_selection import GridSearchCV
from surprise.prediction_algorithms import algo_base
from surprise import KNNBasic
from surprise import SVDpp
from surprise import NMF
from surprise import NormalPredictor
from surprise import BaselineOnly

In [18]:
#mount your own drive to avoid downloading the data multiple time 

from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [19]:
df_state= pd.read_pickle('/content/gdrive/MyDrive/YelpDataset/PickleFiles/yelp_data_df_ON')

In [20]:
df_state.head()

               business_id  ...                                               text
5   l-nL4BmhzpZjcavooO48PQ  ...  ORDER Delivery Review discovered place front d...
12  qUWqjjjfpB2-4P3He5rsKw  ...  heart Chinatown discovered enroute Kensington ...
25  YJ2Y_asLIlbo-uijVugLow  ...  spicy food fan see restaurant called Hot Spicy...
26  9Eghhu_LzEJgDKNgisf3rg  ...  super excited bring boyfriend Scaddabush locat...
32  nIIuxIn5RU0j-XkDWh3hlA  ...  Passed went raijin ramen thought everything lo...

[5 rows x 4 columns]

In [21]:
reader = Reader(rating_scale=(1, 5))

In [22]:
data = Dataset.load_from_df(df_state[['user_id', 'business_id', 'stars']], reader) # We cannot pass in text, bcz load_from_df takes only 3 and it is made specifically for reviews

In [23]:

train, test= train_test_split(data, train_size=0.8)

In [24]:
np = NormalPredictor() # Predicting random rating based on distribution of training set

In [25]:
bo= BaselineOnly() #Algorithm predicting the baseline estimate for given user and item.

In [26]:
np.fit(train)

In [27]:
bo.fit(train)

Estimating biases using als...

In [28]:
np_preds= np.test(test)

In [29]:
bo_preds= bo.test(test)

In [30]:
accuracy.mse(np_preds)
accuracy.mse(bo_preds)

MSE: 2.9237
MSE: 1.3763

1.376281298953766